.wrapper{
    margin: 0px 20px 0px 20px;
}

.inline-flex{
    display:inline-flex;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #000;
}
